<div{{ attributes }}>
    <div class="card {{ this.dataClass }}">
        <div class="card-body">
            <h4 class="card-title">{{ this.blog.title }}</h4>
            <p class="card-text">{{ this.blog.content }}</p>
        </div>
    </div>
</div>