<div{{ attributes }} class="m-4">
    <input
        type="search"
        data-model="query"
    >

    <div class="d-flex">
        <span data-loading="hide" class="text-success px-2">
            loaded!
        </span>

        <span data-loading class="text-muted px-2">
            reloading...
            <span data-loading="delay|show">(still working)</span>
        </span>
    </div>

    {% for blog in this.blogs %}
        <twig:Blog:BlogComponent id="{{ blog.id }}"  />
    {% endfor %}
</div>