{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <div class="m-4">
        <twig:Post:PostListComponent />
    </div>

    <a href="{{ path('app_post_new') }}">Create new</a>
{% endblock %}
